<h2>Add Deadline</h2>

<p><%= link_to 'Back to deadlines calendar', deadlines_path %></p>

<%= form_for(@deadline) do |f| %>

<%= render :partial => "form", :locals => { :f => f } %>

<p><%= f.submit 'Save' %></p>

<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'style', :plugin => 'redmine_deadlines' %>
<% end %>